body {
  margin: 0;
/* In App.css or your main stylesheet */
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
