/* Hero Section Styles */
.hero-section {
    display: flex;
    align-items: center;
    background-image: url('../../Assets/images/headerimage.png');
    /* Add the image */
    background-repeat: no-repeat;
    /* Prevents repeating of the image */
    background-position: right;
    /* Positions image on the left, vertically centered */
    /* background-size: contain; */
    background-color: #F6F7F9;
    gap: 40px;
    padding: 80px;
    padding-top: 230px;
}

.hero-left-text {
    position: relative;
    top: -90px;
    width: 53%;
}

.hero-title {
    margin-bottom: 0.5rem;
    font-size: 64px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: rgba(41, 41, 41, 1);
    line-height: 80px;
    width: 80%
}

.hero-subtitle {
    max-width: 70%;
    font-size: 24px;
    font-weight: 300;
    color: rgba(41, 41, 41, 1);
}

.hero-button {
    margin-top: 1.5rem;
    padding: 1rem;
    border: unset;
    background: rgba(41, 41, 41, 1);
    border-radius: 50px;
    color: white;
    width: 184px;
    font-size: 16px;
}

.hero-feature-card-container {
    position: relative;
}

.hero-feature-card-1 {
    top: 100px;
    left: -200px;
}

.hero-feature-card-2 {
    top: -230px;
    right: -200px;
}

.hero-feature-card {
    width: 150px;
    height: 142px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0px rgba(84, 84, 84, 0.1);
}

.hero-feature-card-blue {
    background: rgba(177, 217, 245, 1);
}

.hero-feature-card-green {
    background: rgba(178, 235, 224, 1);
}

.hero-feature-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-feature-card-title {
    font-weight: 500;
    font-size: 16px;
}

.hero-feature-card-description {
    font-weight: 300;
    font-size: 14px;
}

.hero-feature-card-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Main Content Styles */
.main-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 113px;
}

/* DrCard Styles */
.dr-card {
    /* Add any existing styles for dr-card here */
}

.dr-card-name {
    color: #292929;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.dr-card-major {
    color: #606060;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ServicesCard Styles */
.services-card {
    background: white;
    width: 22.2rem;
    height: 450px;
    border-radius: 20px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-height: max-content;
}

.services-card-image {
    border-radius: 20px 20px 0px 0px;
}

.services-card-content {
    display: flex;
    flex-direction: column;
}

.services-card-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
}

.services-card-subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

/* Image Grid Section Styles */
.image-grid-section-container {
    padding: 200px 80px 80px;
    padding-top: unset;
    padding-bottom: unset;
}

.image-section-container {
    display: flex;
}

.image-grid {
    min-width: 50%;
    display: flex;
    gap: 1rem;
    margin: 1rem;
    max-height: 600px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.center-image {
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.image-section-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.about-us-heading {
    color: rgba(4, 183, 148, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
}

.welcome-to-center-text {
    color: #292929;
    font-family: 'Oswald';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    max-width: 70%;
}

.about-us-description {
    color: #606060;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap */
    justify-content: space-between;
    gap: 1.5rem;
    /* Space between items */
    max-width: 900px;
    /* Optional: control width of the container */
    margin: 0 auto;
    /* Center the container */
}

.feature-item {
    display: flex;
    align-items: center;
    width: 45%;
    /* Adjust width of items to fit two in a row */
}

.checkmark-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
    /* Space between icon and text */
}

.feature-item span {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
    line-height: 1.5;
    font-weight: 500;
}

.about-us-button {
    margin-top: 1.5rem;
    padding: 1rem;
    border: unset;
    background: rgba(41, 41, 41, 1);
    border-radius: 50px;
    color: white;
    width: 184px;
    font-size: 16px;
}

/* Services Section Styles */
.services-section {
    background: #E7F1FF;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-heading {
    width: 40%;
}

.services-subtitle {
    color: #04B794;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: uppercase;
}

.services-title {
    color: #292929;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 2rem;
}

.services-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Team Section Styles */
.team-section {
    padding: 80px;
    padding-top: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -150px;
}

.team-heading {
    width: 40%;
}

.team-subtitle {
    color: #04B794;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: uppercase;
}

.team-title {
    color: #292929;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 2rem;
}

.team-list {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    width: 100%;
    gap: 3rem;
    margin-right: -159px;
    margin-top: 2rem;
}

/* CTA Section Styles */
.cta-section {
    background-color: #2ec5a0;
    /* Main background color of the section */
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-height: 15rem;
    margin: 80px;
    position: relative;
    top: 150px;
}

.cta-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.cta-text {
    text-align: left;
    color: #fff;
    max-width: 600px;
}

.cta-subheading {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.cta-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.25;
    margin: unset;
    margin-bottom: 1rem;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
}

.cta-button {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 1rem 2rem;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #fff;
    color: #2ec5a0;
}

.cta-image {
    max-width: 400px;
}

.cta-image-img {
    max-width: 100%;
    border-radius: 20px;
    position: relative;
    top: -80px;
}

.buttons-container {}

/* Responsive styling for smaller screens */
@media (max-width: 1150px) {

    .services-heading {
        width: 100%;
    }

    .team-heading {
        width: 100%;
    }

    .welcome-to-center-text {
        max-width: unset;
    }

    .image-section-container {
        flex-direction: column;
        align-items: center;
    }

    .image-grid {
        max-height: unset;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .image-section-text {
        margin-top: 3rem;
        width: 100%;
        text-align: center;
    }

    .features-list {
        justify-content: center;
    }

    .about-us-button {
        align-self: center;
    }
}

@media (max-width: 1000px) {
    .feature-item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .image-grid-section-container {
        padding: 50px 20px;
    }

    .image-grid {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .image-section-text {
        text-align: center;
    }

    .feature-item {
        width: 100%;
    }

    .cta-content {
        flex-direction: column;
        text-align: center;
    }

    .cta-buttons {
        justify-content: center;
    }

    .cta-image {
        margin-top: 2rem;
    }
}

@media (max-width: 550px) {
    .image-grid-section-container {
        padding: 30px 15px;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .feature-item span {
        font-size: 14px;
    }

    .cta-heading {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .image-grid-section-container {
        padding: 30px 15px;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .feature-item span {
        font-size: 14px;
    }
}

@media screen and (max-width: 950px) {
    .project-section-sub {
        flex-direction: column;
    }

    .project-left {
        width: 100%;
    }

    .project-title {
        width: 100%;
    }

    .project-right {
        width: 100%;
        margin-bottom: 2rem;
    }

    .hero-section .sched-btn {
        font-size: 11px !important;
    }

    .hero-section .sched-btn span {
        width: 21%;
    }
}

@media screen and (max-width: 1215px) {
    .hero-section {
        display: flex;
        flex-direction: column;
    }

    .hero-image {
        margin-top: unset;
        margin-right: unset;
        width: 100%;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hero-title {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    .hero-title {
        font-size: 50px !important;
    }

    .hero-title {
        line-height: 50px !important;
    }

    .project-title {
        font-size: 35px;
    }

    .service-title {
        font-size: 43px;
    }
}

@media screen and (max-width: 370px) {
    .hero-title {
        font-size: 30px !important;
    }

    .project-title {
        font-size: 25px;
    }

    .hero-description {
        font-size: 13px !important;
        line-height: unset;
    }

    .service-title {
        font-size: 33px;
    }

    .hero-section .sched-btn {
        margin-left: -10px;
    }
}

@media screen and (max-width: 550px) {
    .hero-image {
        margin-top: unset;
        margin-right: unset;
        width: 100%;
    }

    .text-overlay-description {
        display: none;
    }

    .text-overlay-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 370px) {
    .text-overlay-title {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 1300px) {
    .hero-feature-card-1 {
        top: unset;
        left: unset;
        right: unset;
    }

    .hero-feature-card-2 {
        top: unset;
        left: unset;
        right: unset;
    }

    .hero-section {
        padding: 20px;
        padding-top: 80px;
    }

    .hero-left-text {
        position: unset;
        width: 80%;
    }

    .hero-title {
        line-height: 109px;
        width: 100%;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
}

@media screen and (max-width: 1215px) {
    .hero-section {
        background-image: unset;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 470px) {



    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {


    .cta-content {
        position: unset;

    }

    .cta-section {
        top: unset;
        max-height: fit-content;
    }
}

@media screen and (max-width: 500px) {


    .cta-buttons {
        flex-direction: column;

    }

    .cta-content {
        gap: unset;
    }
}

@media screen and (max-width: 577px) {


    .team-heading {
        width: 100% !important;
    }

    .team-list {
        margin-right: unset !important;
    }
}
@media screen and (max-width: 450px) {

    .team-section {
        padding: 0px 40px 80px !important
    }
}

@media screen and (max-width: 620px) {

    .cta-section {
        margin: 40px !important;
    }
}